html,
/* automatically make body Purple */
  body {
      background-color: DarkPurple;  
}
  .spining-box {
      font-size: 24px;
      background-color: DarkRed;
      color: Indigo;  
}
  .title {
    background-color: Black;
    text-align: center;
    font-size: 225%;
}

